<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="pattern" value="%-5level %d [%thread - %X{deviceName}] %logger{36}.%M:%L - %msg%n"/>

    <!-- this appender accepts only error messages and sends them to System.err -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.err</Target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE-REQUEST" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>REQUEST %d [%X{deviceName}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- This appender splits logs by device-->
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>deviceName</Key>
            <DefaultValue>UNKNOWN_DEVICE_NAME</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${deviceName}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${deviceName}.log</file>
                <Append>true</Append>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <fileNamePattern>${deviceName}%i.log</fileNamePattern>
                    <minIndex>1</minIndex>
                    <maxIndex>3</maxIndex>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                </triggeringPolicy>
                <encoder>
                    <pattern>${pattern}</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!-- Write files asynchronously -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SIFT"/>
    </appender>

    <logger name="org.jacorb" level="OFF" />
    <logger name="org.tango" level="ERROR" />
    <logger name="org.quartz" level="OFF" />
    <logger name="net.sf.ehcache" level="OFF"/>
    <logger name="ch.qos.logback" level="OFF"/>
    <logger name="TangoClientRequests" level="OFF" additivity="false">
        <appender-ref ref="CONSOLE-REQUEST" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC" />
    </root>
</configuration>